{% extends 'base/index.html' %}
{% block content %}
<h1 style="text-align: center;">Profile Page</h1>
<div class="profile-page">
    <h3>Username:{{profile.details.username}}</h3>
    <h3>Profile Image:</h3>
    <h3>Firstname: {{profile.details.first_name}}</h3>
    <h3>Lastname: {{profile.details.last_name}}</h3>
    <h3>Contact Details</h3>
    <h4>Contact Address:{{profile.profile_address}}</h4>

</div>
<div class="profile-product">
    <h3>other items from the same user</h3>
    {% for items in profile.details.username %}

    <div class="related-items">
        <h3>Product Name:</h3>
        <h3>Product Price:</h3>
        <h3>View Product</h3>
    </div>

    {% endfor %}
</div>
{% endblock %}